:root {
    --azulPadrao--: #0f9afe;
    --brancototal--: #fff;
    --branco200--: #eff8ff;
    --cinzatotal--: #6e7275;
    --cinzaclaro--: #dbdbdb;
    --cinza200: #293145;
    --fontSora: 'Sora', sans-serif;
    --fontRoboto: 'Roboto', sans-serif;
    --fontInter: 'Inter', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    transition: transform 0.3s ease-in-out;
}

header.ativo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--branco200--);
    transform: translateY(-10%);
}

#title {
    margin: 1em 0 1.1em;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleImg img {
    margin-left: 50px;
}

header #title .NavMenu {
    width: 30%;
    margin-right: 30px;
}

header #title .NavMenu .navList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0.7em;
    list-style: none;
}

header #title .NavMenu ul li a {
    text-decoration: none;
    font-family: var(--fontInter);
    font-weight: 500;
    font-size: 1.1em;
    color: var(--cinzatotal--);
    transition: .2s ease-in-out;
}

header #title .NavMenu ul li a:hover {
    color: var(--cinza200);
}

/* Finalizei a parte do Header e menu desktop*/

/* Menu mobile */
.MobileNav {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: -1;
    transition: .4s ease-in-out;

}

.MobileNavList {
    /* display: none; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 0.7em;
    list-style: none;

}
.MobileNavList li{
    padding-block: 30px;
}
.MobileNavList li a {
    text-decoration: none;
    font-family: var(--fontInter);
    font-weight: 500;
    font-size: 1.1em;
    color: var(--cinzatotal--);
    transition: .2s ease-in-out;
}

#btnMobile {
    display: none;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

/*  */
.titleInfoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco200--);
}

.rachiSlogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 60%;
    height: 50vh;
    text-align: center;
    border-right: 1px dashed var(--cinzatotal--);

}

.rachiSlogan h1 {
    width: 50%;
    font-size: 3em;
    font-family: var(--fontSora);
}

.rachiSlogan button {
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    color: var(--branco200--);
    font-family: var(--fontInter);
    width: 200px;
    height: 56px;
    background: #0F9AFE;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    border-radius: 50px;
    transition: .5s;
    opacity: .9;
}

.rachiSlogan button:hover {
    opacity: 1;
}

.rachiImg {
    width: 40%;
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;
}

.rachiImg img {
    width: 62%;
    height: auto;

}


/* Inicio da segunda section */
#funcionalidades {
    width: 100%;
    height: auto;
    margin-block: 30px;
    text-align: center;
}

#funcionalidades h2 {
    font-family: 'Sora', sans-serif;
    margin-top: 3em;
}

.containerIconFuncionamento {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.funcionamentoBox {
    text-align: center;
    height: 150px;
    margin-top: 30px;
    padding: 1em;
}

.funcionamentoBox h4 {
    font-size: 1em;
    font-family: 'Sora', sans-serif;
    margin-block: 1em;
}

.funcionamentoBox p {
    margin: 0 auto;
    font-family: 'Sora', sans-serif;
    font-size: .9em;
    width: 50%;
}

.funcionamentoBox i {
    font-size: 1.5em;
    color: var(--azulPadrao--);
}

/* terminou a segunda section */


/*  */
#app {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3em;
    background-color: var(--branco200--)
}

.containerApp {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxApp {
    margin: 0 auto;
    text-align: center;
}

.boxApp h3 {
    font-family: 'Sora', sans-serif;
    font-size: 2em;
}

.boxApp>p {
    margin: 10px auto;
    width: 50%;
    font-family: 'Sora', sans-serif;
    font-size: .9em;
    font-weight: 400;
}

.appDownload {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
}

.lojaDownload {
    cursor: pointer;
    width: 200px;
    max-width: 30%;
    height: 60px;
    margin-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--cinza200);
    border-radius: 1em;
    color: var(--brancototal--);
}

i {
    font-size: 2em;
}

.imgApp {
    width: 50%;
    text-align: center;
}

/* -------------Box dos Planos----------------- */

#nossoPlanos {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#nossoPlanos>h2 {
    font-family: var(--fontSora);
    font-size: 2em;
}

#nossoPlanos p {
    margin-block: 1em;
    font-family: var(--fontInter);
}

.planosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.planosBox {
    width: 370px;
    height: 471px;

    margin-top: 80px;
    margin-bottom: 100px;

    background-color: var(--branco200--);
    font-family: var(--fontSora);
    border-radius: .5em;

}

.planosBox h4 {
    font-family: var(--fontSora);
    font-size: 1.5em;
    margin-block: 50px;
}

.planosBox .real {
    font-size: .3em;
}

.planosBox>h2 {
    font-size: 60px;
    font-family: var(--fontRoboto);

}

.planosBox .mes {
    font-size: .5em;
}

.planosBox p {
    color: var(--cinzatotal--);
    font-family: var(--fontInter);
    font-weight: 400;
    padding: 1em;
}



.planosBox button {
    cursor: pointer;
    background-color: var(--azulPadrao--);
    color: #fff;
    border: none;
    width: 150px;
    height: 30px;
    font-family: var(--fontRoboto);
    font-weight: bold;
    border-radius: 8px;
    transition: .5s ease-in-out;
}

.planosBox button:hover {
    background-color: #fff;
    color: var(--azulPadrao--);
    border: 1px solid var(--azulPadrao--);
}

.boxCinza {
    background-color: var(--cinza200);
    color: #fff;
}

.boxCinza h4 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.boxCinza p {
    color: #fff;
}

.boxCinza>.preferido {
    width: 115px;
    height: 25px;

    margin: 0 auto;
    margin-bottom: 25px;
    padding: .5em;
    background-color: var(--azulPadrao--);
    color: #fff;

    font-family: var(--fontRoboto);
    font-weight: 600;
    font-size: .7em;

    text-transform: uppercase;
    border-radius: 1em;

}

/* ------------------------------ */

/* ------------------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 300px;

    background-image: url('./assets/img/bgfooter.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--branco200--);
}

footer h2 {
    font-size: 2em;
    font-family: var(--fontRoboto);
}

footer p {
    font-family: var(--fontInter);
    font-weight: 400;
    color: #DBDBDB;
}

.formFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formFooter #form input {
    width: 300px;
    padding: 2px;
    background-color: transparent;
    font-family: var(--fontRoboto);

    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;

}

.formFooter #form button {
    width: 80px;
    height: 30px;

    text-transform: capitalize;
    font-family: var(--fontRoboto);
    font-weight: bold;

    cursor: pointer;

    background-color: var(--azulPadrao--);
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: .5s ease-in-out;
}

.formFooter #form button:hover {
    background-color: #fff;
    color: var(--azulPadrao--);
    border: 1px solid var(--azulPadrao--);
}

.formFooter #form input::placeholder {
    color: #fff;
}
/* .sectionInicial, #app, #nossoPlanos, #funcionalidades,footer{
    visibility: hidden;
} */
/* Parte responsiva */
@media only screen and (max-width: 768px) {
    header #title .NavMenu .navList, 
    .MobileNav {
        display: none;
    }

    .MobileNavList {
        display: flex;
    }

    #btnMobile.active~.MobileNav,
    #btnMobile {
        display: block;
    }

    #title {
        margin: 0;
    }

    #btnMobile i {
        font-size: 1.5rem;
    }
    .titleInfoContainer{
        border: none;
        flex-wrap: wrap;
    }

    .rachiSlogan{
        border: none;
        width: 100%;
        margin-top: 50px;
        height: 35vh;
        padding-inline: 11px;
    }
    .rachiSlogan h1{
        width: 100%;
        font-size: 2.5em;
    }
    .rachiImg{
       width: 100%;
    }
    .containerApp{
        flex-direction: column;
    }
    .appDownload{
        width: 100%;
    }
    .boxApp>p{
        width: 70%;
        margin-block: 20px;
    }
    .planosBox {
        margin-block: 0;
    }
    #nossoPlanos p{
        margin: 25px auto ;
        width: 90%;
    }
    footer{
        margin-top: 60px;
    }
}
